<section class="login flex justify-center pt-20">
  <div class="w-full max-w-xs">
    <div
      class="
        bg-white
        shadow-md
        border border-gray-200
        rounded-lg
        max-w-sm
        p-4
        sm:p-6
        lg:p-8
      "
    >
      <form id="loginForm" method="POST" class="space-y-6">
        <div>
          <label
            for="email"
            class="text-sm font-medium text-gray-900 block mb-2"
            >Your email</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class="
              bg-gray-50
              border border-gray-300
              sm:text-sm
              rounded-lg
              focus:outline-none focus:ring-transparent
              block
              w-full
              p-2.5
            "
            placeholder="name@company.com"
            required=""
          />
        </div>
        <div>
          <label
            for="password"
            class="text-sm font-medium text-gray-900 block mb-2"
            >Your password</label
          >
          <input
            type="password"
            name="password"
            id="password"
            placeholder="••••••••"
            class="
              bg-gray-50
              border border-gray-300
              text-gray-900
              sm:text-sm
              rounded-lg
              focus:outline-none focus:ring-transparent
              block
              w-full
              p-2.5
            "
            required=""
          />
        </div>
        <div class="flex items-start">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                id="remember"
                aria-describedby="remember"
                type="checkbox"
                class="
                  bg-gray-50
                  border border-gray-300
                  focus:ring-transparent
                  form-checkbox
                  text-orange-600
                  h-4
                  w-4
                  rounded
                "
                required=""
              />
            </div>
            <div class="text-sm ml-3">
              <label for="remember" class="font-medium text-gray-900"
                >Remember me</label
              >
            </div>
          </div>
          <a href="#" class="text-sm hover:underline ml-auto">Lost Password?</a>
        </div>
        <button
          type="submit"
          class="
            w-full
            btn-primary
            text-white
            focus:ring-4
            font-medium
            rounded-lg
            text-sm
            px-5
            py-2.5
            text-center
          "
        >
          Login to your account
        </button>
        <div class="text-sm font-medium text-gray-500">
          Not registered?
          <a href="/register" class="hover:underline">Create account</a>
        </div>
      </form>
    </div>
    <p class="text-center text-gray-500 text-xs mt-2">
      &copy;2021 Gardenly. All rights reserved.
    </p>
  </div>
</section>
