@import 'abstracts/variables';
@import 'vendors/noty';
@import 'vendors/tailwind';

body {
    font-family: 'Lato', sans-serif;
    color: $dark;
}

// navbar 
nav li:last-child a {
    background-color: $primary;

    &:hover {
        background-color: $primary-hover;
    }
}

nav li a {
    &:hover {
        color: $primary-hover;
    }

    transition: all $smooth ease-in-out;
}

// hero section
section.hero {
    background-color: $secondary;
}

.size {
    background-color: $secondary;
}

// button 
.btn-primary {
    background-color: $primary;
    transition: $smooth;

    &:hover {
        background-color: $primary-hover;
    }
}

.add-to-cart {
    color: $primary;
    border: 2px solid $primary;
    transition: $smooth;

    &:hover {
        color: $pure;
        background-color: $primary;
        border-color: $pure;
    }
}

// Cart
section.cart {
    background-color: $secondary;

    .amount {
        color: $primary;
    }
}

// login and register form
section.login,
section.register {
    background-color: $secondary;
    min-height: calc(100vh - $navbarHeight);

    a {
        color: $primary;

        &:hover {
            color: $primary-hover;
        }
    }
}

section.login form,
section.register form,
.shiping-info form {

    input:focus,
    input:focus-visible {
        border-color: $primary;
    }
}

// quantity counter
.custom-number-input {

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

}

.custom-number-input,
.outline-none {

    input[type='number'] {
        border: 1px solid transparent !important;
    }

    input:focus,
    input:focus-visible {
        outline: none !important;
    }

    button:focus,
    button:focus-visible {
        outline: none !important;
    }

    outline: none !important;
    border: 1px solid transparent !important;
}